<% layout('layout/page.ejs') %>
   <div class="page__wrapper">
      <div class="page__img">
         <img src="<%= picture %>" alt="Планета" />
      </div>
      <div class="page__content">
         <h1 class="title"><%=title%></h1>
         <h4><%=desc1%></h4>
         <h4><%=desc2%></h4>
         <h4><%=desc3%></h4>
      </div>
   </div>