<% layout('layout/page.ejs') %>
<div class="page__wrapper">
   <div class="page__header">
      <h1>
         <%= title %>
      </h1>
      <img src="<%= picture %>" alt="Планета" />
   </div>
   <h4>
      <%=desc1%>
   </h4>
   <h4>
      <%=desc2%>
   </h4>
   <h4>
      <%=desc3%>
   </h4>
</div>
